@page "/CreateUser"
@model CreateUserModel
@{
    Layout = "~/Areas/Identity/Pages/_WebLayout.cshtml";
}

 <h2>Kayıt Ol</h2>
 <hr />
 <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
 <div class="row">
     <div class="col-6">
         <div clas "s=" form-floating mb-3">
             <input asp-for="@Model.userModel.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="first name" />
             <label asp-for="@Model.userModel.FirstName">First Name</label>
         </div>
     </div>
     <div class="col-6">
         <div class="form-floating mb-3">
             <input asp-for="@Model.userModel.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="last name" />
             <label asp-for="@Model.userModel.LastName">Last Name</label>
         </div>
     </div>

     <div class="form-floating mb-3">
         <input asp-for="@Model.userModel.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="user name" />
         <label asp-for="@Model.userModel.UserName">User Name</label>
         <span asp-validation-for="@Model.userModel.UserName" class="text-danger"></span>
     </div>


 </div>
 <div class="form-floating mb-3">
     <input asp-for="@Model.userModel.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
     <label asp-for="@Model.userModel.Email">Email</label>
     <span asp-validation-for="@Model.userModel.Email" class="text-danger"></span>
 </div>

 <div class="form-floating mb-3">
     <input asp-for="@Model.userModel.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
     <label asp-for="@Model.userModel.Password">Password</label>
     <span asp-validation-for="@Model.userModel.Password" class="text-danger"></span>

 </div>
 <div class="form-floating mb-3">
     <input asp-for="@Model.userModel.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
     <label asp-for="@Model.userModel.ConfirmPassword"> Confirm Password </label>
 </div>
